@{
    ViewData["Title"] = "informações";
}
<h1>@ViewData["Title"]</h1>

<p>Feito por Ruan Lourenço</p>
<p> Banco de dados simples de uma escola com uma tabela de alunos, clique alunos para ver mais </p>
<hr />

<p> github : <a href="https://github.com/tretake">github.com/tretake</a></p>
<p> linkedin : <a href="www.linkedin.com/in/ruan-lourenço">linkedin.com/in/ruan-lourenço</a></p>