@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Ruan Lourenço Silva</p>
     <p>mmmm Lourenço Silva</p>
    <p>Ruan Lourenço Silva</p>
    <p>Ruan Lourenço Silva</p>
</div>
